name: Postman API Tests

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Newman
        run: npm install -g newman newman-reporter-htmlextra

       - name: List files
        run: ls -R .

      - name: Run tests
        run: |
         newman run "testesAPICFS/Loja Virtual.postman_collection.json" \
         -e "testesAPICFS/baseUrl.postman_environment.json" \
          -r htmlextra \
          --reporter-htmlextra-export reports/index.html

      - name: Upload Report
        uses: actions/upload-artifact@v4
        with:
          name: api-report
          path: reports/index.html
